.u-block-0093-2 {
  position: absolute;
  width: 72px;
  height: 3px;
  left: calc(((100% - 1140px) / 2)  + 511px);
  top: auto;
  bottom: 10px;
}

.u-block-0093-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 40px;
  padding-top: 40px;
  top: auto;
  bottom: 91px;
}

.u-block-0093-4 {
  position: absolute;
  width: 40px;
  padding-top: 40px;
  left: calc(((100% - 1140px) / 2)  + 107px);
  top: auto;
  bottom: 111px;
}

@media (max-width: 1199px) {
  .u-block-0093-2 {
    left: 520px;
    top: 732px;
  }

  .u-block-0093-3 {
    left: calc(((100% - 940px) / 2));
    width: 33px;
  }

  .u-block-0093-4 {
    width: 33px;
    left: calc(((100% - 940px) / 2)  + 88px);
  }
}

@media (max-width: 991px) {
  .u-block-0093-2 {
    left: 410px;
    top: 771px;
  }

  .u-block-0093-3 {
    left: calc(((100% - 720px) / 2));
    width: 25px;
  }

  .u-block-0093-4 {
    width: 25px;
    left: calc(((100% - 720px) / 2)  + 68px);
  }
}

@media (max-width: 767px) {
  .u-block-0093-2 {
    left: calc(((100% - 540px) / 2));
    top: auto;
    bottom: 119px;
  }

  .u-block-0093-3 {
    left: calc(((100% - 540px) / 2)  + -68px);
    width: 24px;
    margin-top: 85px;
    margin-left: 320px;
  }

  .u-block-0093-4 {
    width: 24px;
    left: calc(((100% - 540px) / 2)  + -4px);
  }
}

@media (max-width: 575px) {
  .u-block-0093-2 {
    left: calc(((100% - 340px) / 2));
    bottom: 415px;
  }

  .u-block-0093-3 {
    left: calc(((100% - 340px) / 2)  + -113px);
    width: 20px;
    margin-top: 110px;
    margin-left: 220px;
  }

  .u-block-0093-4 {
    width: 20px;
    left: calc(((100% - 340px) / 2)  + -60px);
  }
}

.u-section-1-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 786px);
  height: 710px;
  background-image: linear-gradient(#9f4a3f, #634d55);
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 740px;
  margin: -710px auto 0;
}

.u-section-1-1 .u-image-1 {
  width: 712px;
  height: 783px;
  margin: 44px 80px 0 auto;
}

.u-section-1-1 .u-image-2 {
  width: 149px;
  height: 146px;
  margin: -277px 0 0 auto;
}

.u-section-1-1 .u-group-1 {
  width: 583px;
  min-height: 538px;
  height: auto;
  margin: -569px auto 0 0;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 118px 0 0 20px;
}

.u-section-1-1 .u-text-2 {
  margin: 20px 120px 0 20px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 30px auto 55px 20px;
}

.u-section-1-1 .u-group-2 {
  width: 293px;
  min-height: 157px;
  height: auto;
  margin: -569px 0 0 auto;
}

.u-section-1-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 538px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1-1 .u-image-1 {
    width: 636px;
    height: 807px;
    margin-top: 20px;
    margin-right: 30px;
  }

  .u-section-1-1 .u-image-2 {
    width: 123px;
  }

  .u-section-1-1 .u-group-1 {
    width: 470px;
    min-height: 473px;
    height: auto;
  }

  .u-section-1-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1-1 .u-text-2 {
    position: relative;
    margin-right: 99px;
    margin-left: 16px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1-1 .u-group-2 {
    width: 242px;
    min-height: 172px;
    margin-top: -580px;
    margin-bottom: 548px;
    height: auto;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: -20px;
    margin-left: 16px;
  }

  .u-section-1-1 .u-text-4 {
    font-size: 1.125rem;
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-left: 16px;
  }

  .u-section-1-1 .u-text-5 {
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 784px;
    margin-top: -801px;
  }

  .u-section-1-1 .u-image-1 {
    width: 409px;
    height: 836px;
    margin-top: 209px;
    margin-right: 91px;
  }

  .u-section-1-1 .u-image-2 {
    width: 94px;
    margin-top: -494px;
  }

  .u-section-1-1 .u-group-1 {
    width: 440px;
    min-height: 480px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 129px;
    margin-left: 13px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 76px;
    margin-left: 13px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1-1 .u-group-2 {
    width: 250px;
    min-height: 176px;
    margin-top: -509px;
    margin-bottom: 600px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-1 .u-text-4 {
    margin-right: 8px;
    margin-left: 13px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 8px;
    margin-bottom: 20px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 922px;
    margin-top: -673px;
  }

  .u-section-1-1 .u-image-1 {
    width: 565px;
    height: 686px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-1-1 .u-image-2 {
    width: 76px;
    height: 126px;
    margin-top: -395px;
  }

  .u-section-1-1 .u-group-1 {
    width: 303px;
    min-height: 454px;
    margin-top: -669px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 118px;
    margin-left: 9px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 33px;
    margin-left: 9px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 45px;
    margin-left: 9px;
  }

  .u-section-1-1 .u-group-2 {
    width: 202px;
    margin-top: -454px;
    margin-bottom: 419px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 293px);
    height: 475px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 1075px;
    margin-top: -475px;
  }

  .u-section-1-1 .u-image-1 {
    height: 645px;
    margin-top: 588px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-image-2 {
    width: 92px;
    height: 134px;
    margin-top: -602px;
  }

  .u-section-1-1 .u-group-1 {
    width: 293px;
    min-height: 409px;
    margin-top: -723px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 119px;
    margin-right: -14px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 19px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 24px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-group-2 {
    min-height: 147px;
    width: 281px;
    margin: 33px auto 110px 0;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-1-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 786px);
  height: 710px;
  background-image: linear-gradient(#9f4a3f, #634d55);
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 740px;
  margin: -710px auto 0;
}

.u-section-1-2 .u-image-1 {
  width: 712px;
  height: 783px;
  margin: 44px 30px 0 auto;
}

.u-section-1-2 .u-image-2 {
  width: 149px;
  height: 146px;
  margin: -277px 0 0 auto;
}

.u-section-1-2 .u-group-1 {
  width: 583px;
  min-height: 492px;
  height: auto;
  margin: -569px auto 0 0;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  position: relative;
  margin: 138px 0 0 20px;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 33px auto 37px 20px;
}

.u-section-1-2 .u-group-2 {
  width: 293px;
  min-height: 157px;
  height: auto;
  margin: -498px 0 0 auto;
}

.u-section-1-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1-2 .u-text-3 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1-2 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1.125rem;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 538px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1-2 .u-image-1 {
    width: 621px;
    height: 807px;
    margin-top: 21px;
    margin-right: auto;
    margin-left: 328px;
  }

  .u-section-1-2 .u-image-2 {
    width: 123px;
    margin-top: -278px;
  }

  .u-section-1-2 .u-group-1 {
    width: 470px;
    min-height: 473px;
    height: auto;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 132px;
    margin-left: 16px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1-2 .u-group-2 {
    width: 242px;
    min-height: 172px;
    margin-top: -580px;
    margin-bottom: 548px;
    height: auto;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: -20px;
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-right: 13px;
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-4 {
    margin: 21px 13px 15px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 784px;
    margin-top: -801px;
  }

  .u-section-1-2 .u-image-1 {
    width: 496px;
    height: 797px;
    margin-top: 194px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-1-2 .u-image-2 {
    width: 94px;
    margin-top: -440px;
  }

  .u-section-1-2 .u-group-1 {
    width: 440px;
    min-height: 480px;
    margin-top: -468px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 13px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1-2 .u-group-2 {
    width: 250px;
    min-height: 141px;
    margin-top: -601px;
    margin-bottom: 626px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 8px;
    margin-left: 13px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 8px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 922px;
    margin-top: -673px;
  }

  .u-section-1-2 .u-image-1 {
    width: 451px;
    height: 705px;
    margin-top: 217px;
    margin-right: 0;
  }

  .u-section-1-2 .u-image-2 {
    width: 76px;
    height: 126px;
    margin-top: -381px;
  }

  .u-section-1-2 .u-group-1 {
    width: 303px;
    min-height: 454px;
    margin-top: -372px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 9px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-1-2 .u-group-2 {
    width: 202px;
    margin-top: -751px;
    margin-bottom: 766px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 293px);
    height: 450px;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 1072px;
    margin-top: -450px;
  }

  .u-section-1-2 .u-image-1 {
    height: 645px;
    margin-top: 588px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-image-2 {
    width: 92px;
    height: 134px;
    margin-top: -602px;
  }

  .u-section-1-2 .u-group-1 {
    width: 293px;
    min-height: 409px;
    margin-top: -732px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 156px;
    margin-left: 6px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 6px;
  }

  .u-section-1-2 .u-group-2 {
    min-height: 137px;
    width: 281px;
    margin: 22px auto 0 12px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-1-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 786px);
  height: 710px;
  background-image: linear-gradient(#9f4a3f, #634d55);
  margin: 0 auto 0 0;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 740px;
  margin: -710px auto 0;
}

.u-section-1-3 .u-image-1 {
  width: 712px;
  height: 783px;
  margin: 44px 80px 0 auto;
}

.u-section-1-3 .u-image-2 {
  width: 149px;
  height: 146px;
  margin: -277px 0 0 auto;
}

.u-section-1-3 .u-group-1 {
  width: 583px;
  min-height: 644px;
  height: auto;
  margin: -569px auto 0 0;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 80px 44px 0 -24px;
}

.u-section-1-3 .u-text-2 {
  margin: 75px 120px 0 20px;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 63px auto 0 20px;
}

.u-section-1-3 .u-group-2 {
  width: 293px;
  min-height: 157px;
  height: auto;
  margin: -674px 0 517px auto;
}

.u-section-1-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 538px);
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1-3 .u-image-1 {
    width: 636px;
    height: 807px;
    margin-top: 20px;
    margin-right: 30px;
  }

  .u-section-1-3 .u-image-2 {
    width: 123px;
  }

  .u-section-1-3 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1-3 .u-text-2 {
    position: relative;
    margin-right: 99px;
    margin-left: 16px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1-3 .u-group-2 {
    width: 242px;
    margin-top: -580px;
    margin-bottom: 548px;
    height: auto;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: -20px;
    margin-left: 16px;
  }

  .u-section-1-3 .u-text-4 {
    font-size: 1.125rem;
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-left: 16px;
  }

  .u-section-1-3 .u-text-5 {
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 784px;
    margin-top: -801px;
  }

  .u-section-1-3 .u-image-1 {
    width: 409px;
    height: 836px;
    margin-top: 209px;
    margin-right: 91px;
  }

  .u-section-1-3 .u-image-2 {
    width: 94px;
    margin-top: -494px;
  }

  .u-section-1-3 .u-group-1 {
    width: 440px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 129px;
    margin-left: 13px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 76px;
    margin-left: 13px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1-3 .u-group-2 {
    width: 250px;
    margin-top: -509px;
    margin-bottom: 600px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-3 .u-text-4 {
    margin-right: 8px;
    margin-left: 13px;
  }

  .u-section-1-3 .u-text-5 {
    margin-right: 8px;
    margin-bottom: 20px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 922px;
    margin-top: -673px;
  }

  .u-section-1-3 .u-image-1 {
    width: 565px;
    height: 686px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-1-3 .u-image-2 {
    width: 76px;
    height: 126px;
    margin-top: -395px;
  }

  .u-section-1-3 .u-group-1 {
    width: 303px;
    margin-top: -669px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 33px;
    margin-left: 9px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 45px;
    margin-left: 9px;
  }

  .u-section-1-3 .u-group-2 {
    width: 202px;
    margin-top: -454px;
    margin-bottom: 419px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 293px);
    height: 475px;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 1075px;
    margin-top: -475px;
  }

  .u-section-1-3 .u-image-1 {
    height: 645px;
    margin-top: 588px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-3 .u-image-2 {
    width: 92px;
    height: 134px;
    margin-top: -602px;
  }

  .u-section-1-3 .u-group-1 {
    width: 293px;
    margin-top: -723px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 119px;
    margin-right: -14px;
    margin-left: 20px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 19px;
    margin-left: 20px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-bottom: 24px;
    margin-left: 20px;
  }

  .u-section-1-3 .u-group-2 {
    width: 281px;
    margin: 33px auto 110px 0;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 658px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 101px 20px 0;
}

.u-section-2 .u-image-1 {
  height: 270px;
  margin: 36px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 345px;
  height: 29px;
  margin: -274px auto 0 20px;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: -56px 20px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 70px 20px 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-2 .u-link-1 {
  margin: 20px auto 194px 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 658px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
}

.u-section-2 .u-image-2 {
  width: 523px;
  height: 523px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 101px auto 0 20px;
}

.u-section-2 .u-shape-2 {
  width: 241px;
  height: 241px;
  background-image: linear-gradient(125deg, #634d55, #9b2b35);
  margin: -599px 76px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 175px;
  height: 62px;
  margin: -152px 101px 481px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    width: 350px;
    height: 20px;
    margin-top: -271px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -47px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 60px;
    margin-left: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-2 .u-image-2 {
    width: 469px;
    height: 469px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-left: 16px;
  }

  .u-section-2 .u-shape-2 {
    width: 199px;
    height: 199px;
    margin-top: -554px;
    margin-right: 35px;
  }

  .u-section-2 .u-image-3 {
    width: 144px;
    margin-top: -130px;
    margin-right: 62px;
    margin-bottom: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    width: 162px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-2 .u-image-2 {
    width: 384px;
    height: 384px;
    margin-top: 160px;
    margin-left: 11px;
  }

  .u-section-2 .u-shape-2 {
    width: 152px;
    height: 152px;
    margin-top: -484px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-3 {
    width: 111px;
    margin-top: -114px;
    margin-right: 46px;
    margin-bottom: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-shape-1 {
    width: 348px;
    height: 22px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -49px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 50px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-2 .u-image-2 {
    width: 446px;
    height: 446px;
    margin-top: 83px;
    margin-left: 9px;
  }

  .u-section-2 .u-shape-2 {
    width: 176px;
    height: 182px;
    margin-top: -480px;
    margin-right: 32px;
  }

  .u-section-2 .u-image-3 {
    width: 104px;
    margin-top: -122px;
    margin-right: 68px;
    margin-bottom: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-shape-1 {
    width: 164px;
    height: 21px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -48px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 28px;
    margin-left: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-2 .u-image-2 {
    width: 284px;
    height: 284px;
    margin-top: 77px;
    margin-left: 6px;
  }

  .u-section-2 .u-shape-2 {
    width: 120px;
    height: 120px;
    margin-top: -336px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-3 {
    width: 87px;
    margin-top: -91px;
    margin-right: 41px;
    margin-bottom: 252px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 32px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-3 .u-image-1 {
  width: 497px;
  height: 497px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 350px;
  height: 350px;
  background-image: linear-gradient(125deg, #d53d29, #3d2c32);
  margin: -230px 5px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 315px;
  height: 281px;
  object-position: 50% 10.82%;
  background-position: 50% 10.82%;
  margin: -315px 22px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 688px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-3 .u-text-1 {
  margin: 123px 20px 0;
}

.u-section-3 .u-shape-2 {
  width: 257px;
  height: 29px;
  margin: 32px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: -56px 20px 0;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 70px 20px 0;
}

.u-section-3 .u-text-4 {
  margin: 25px 20px 0;
}

.u-section-3 .u-link-1 {
  margin: 22px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
    object-position: 50% 100%;
    background-position: 50% 100%;
  }

  .u-section-3 .u-shape-1 {
    width: 289px;
    height: 289px;
    margin-top: -182px;
  }

  .u-section-3 .u-image-2 {
    width: 214px;
    height: 237px;
    margin-top: -276px;
    margin-right: 37px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 260px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-link-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-3 .u-image-1 {
    width: 387px;
    height: 387px;
  }

  .u-section-3 .u-shape-1 {
    width: 221px;
    height: 221px;
    margin-top: -130px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 188px;
    height: 186px;
    margin-top: -221px;
    margin-right: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-shape-2 {
    width: 115px;
    height: 21px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -48px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 38px;
    margin-right: 25px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 23px;
  }

  .u-section-3 .u-link-1 {
    margin-top: 32px;
    margin-bottom: 42px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: -171px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-3 .u-image-1 {
    width: 432px;
    height: 432px;
  }

  .u-section-3 .u-shape-1 {
    width: 261px;
    height: 261px;
    margin-top: -147px;
    margin-right: 18px;
  }

  .u-section-3 .u-image-2 {
    width: 176px;
    margin-top: -232px;
    margin-right: 61px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 259px;
    height: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 40px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -238px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-3 .u-image-1 {
    width: 302px;
    height: 302px;
  }

  .u-section-3 .u-shape-1 {
    width: 198px;
    height: 198px;
    margin-top: -135px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 132px;
    height: 163px;
    margin-top: -188px;
    margin-right: 33px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-shape-2 {
    width: 257px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 701px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 80px auto 70px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-4 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  margin: 101px 20px 0;
}

.u-section-4 .u-image-1 {
  height: 270px;
  margin: 33px auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 370px;
  height: 25px;
  margin: -271px auto 0 20px;
}

.u-section-4 .u-text-2 {
  position: relative;
  margin: -52px 20px 0;
}

.u-section-4 .u-text-3 {
  position: relative;
  margin: 70px 20px 0;
}

.u-section-4 .u-text-4 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-4 .u-link-1 {
  margin: 20px auto 76px 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 3px;
}

.u-section-4 .u-shape-2 {
  width: 516px;
  height: 515px;
  background-image: linear-gradient(#634d55, #d53d29);
  margin: 25px auto 0 29px;
}

.u-section-4 .u-image-2 {
  width: 550px;
  height: 358px;
  margin: -458px 16px 100px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 573px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-1 {
    margin-top: 55px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    width: 364px;
    height: 29px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -56px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    position: relative;
    margin-bottom: 55px;
    margin-left: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 573px;
  }

  .u-section-4 .u-shape-2 {
    width: 479px;
    height: 479px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 501px;
    margin: -424px 13px 57px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-shape-1 {
    width: 193px;
    height: 22px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -49px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 2px;
  }

  .u-section-4 .u-shape-2 {
    width: 322px;
    height: 322px;
    margin-top: 96px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 383px;
    margin: -306px 10px 2px 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-shape-1 {
    width: 378px;
    height: 25px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -52px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 4px;
    padding-left: 1px;
  }

  .u-section-4 .u-shape-2 {
    width: 500px;
    height: 500px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 523px;
    margin: -438px 8px 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-shape-1 {
    width: 179px;
    height: 22px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -49px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 93px;
    margin-left: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-2 {
    height: 345px;
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 302px;
    height: 241px;
    margin-top: -286px;
    margin-right: 6px;
    margin-bottom: 101px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 615px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 73px auto 73px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 592px;
}

.u-section-5 .u-image-1 {
  width: 542px;
  height: 542px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 10px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 592px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 106px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 415px;
  height: 28px;
  margin: 32px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: -55px 0 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 70px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-5 .u-link-1 {
  margin: 20px auto 27px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: 58px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 104px;
  }

  .u-section-5 .u-shape-1 {
    width: 423px;
    margin-right: 0;
  }

  .u-section-5 .u-link-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-5 .u-image-1 {
    width: 342px;
    height: 342px;
    margin-top: 104px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-shape-1 {
    width: 231px;
    height: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -47px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 321px;
    height: 321px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 15px;
  }

  .u-section-5 .u-shape-1 {
    width: 421px;
    height: 27px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -54px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-5 .u-image-1 {
    width: 329px;
    height: 329px;
    margin-top: 73px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 164px;
  }

  .u-section-5 .u-shape-1 {
    width: 238px;
    height: 21px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -48px;
  }

  .u-section-5 .u-link-1 {
    margin-bottom: 70px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-group-1 {
  width: 1012px;
  min-height: 231px;
  height: auto;
  margin: 90px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  margin: 41px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  position: relative;
  margin: 32px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-group-1 {
    min-height: 349px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: linear-gradient(#9f4a3f, #634d55);
}

.u-section-7 .u-sheet-1 {
  min-height: 594px;
}

.u-section-7 .u-group-1 {
  width: 765px;
  min-height: 112px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 370px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 16px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 25px auto 0 83px;
}

.u-section-7 .u-text-2 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-7 .u-text-3 {
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 370px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 25px auto 0 77px;
}

.u-section-7 .u-text-4 {
  margin: 30px 5px 0 20px;
}

.u-section-7 .u-text-5 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 370px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 16px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 83px;
}

.u-section-7 .u-text-6 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-7 .u-text-7 {
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 370px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 36px;
  padding-right: 20px;
}

.u-section-7 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 24px auto 0 50px;
}

.u-section-7 .u-text-8 {
  margin: 31px 0 0;
}

.u-section-7 .u-text-9 {
  position: relative;
  margin: 20px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 631px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-7 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-left: 0;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-2 {
    height: 60px;
    width: 60px;
    margin-left: 61px;
    position: relative;
  }

  .u-section-7 .u-text-4 {
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-7 .u-icon-3 {
    height: 60px;
    width: 60px;
    margin-left: 0;
    position: relative;
  }

  .u-section-7 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 16px;
  }

  .u-section-7 .u-icon-4 {
    height: 60px;
    width: 60px;
    position: relative;
  }

  .u-section-7 .u-text-8 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-7 .u-group-1 {
    min-height: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-icon-1 {
    height: 46px;
    width: 46px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-7 .u-icon-2 {
    height: 46px;
    width: 46px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-7 .u-icon-3 {
    height: 46px;
    width: 46px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 13px;
  }

  .u-section-7 .u-icon-4 {
    height: 46px;
    width: 46px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 8px;
  }

  .u-section-7 .u-icon-1 {
    height: 43px;
    width: 43px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-2 {
    height: 43px;
    width: 43px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-right: 12px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 20px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 8px;
  }

  .u-section-7 .u-icon-3 {
    height: 43px;
    width: 43px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 8px;
    padding-right: 9px;
  }

  .u-section-7 .u-icon-4 {
    height: 43px;
    width: 43px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-7 .u-icon-1 {
    height: 36px;
    width: 36px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-7 .u-icon-2 {
    height: 36px;
    width: 36px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 7px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 5px;
  }

  .u-section-7 .u-icon-3 {
    height: 36px;
    width: 36px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 6px;
  }

  .u-section-7 .u-icon-4 {
    height: 36px;
    width: 36px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
}